*{
/*	outline: 1px so.lid red;
*/}
a #logo {
	position: relative;
	left: 50px !important;
}
.navbar-light .navbar-toggler {
    border-color: white !important; 
    padding: 20px;
}
.navbar {
    padding: .9rem 3rem;
}
.gray-dark{
	background-color: #3b444b;
}
.gray-medium{
	background-color: #62676b;
}
.gray-green{
	background-color: darkslategray;
}
.gray-soft{
	background-color: #bac7b6;
}
.gold{
	background-color: #f0c50f;
}
/*carrusel*/
.w-100 {

    max-height: 550px !important;
    width: 400px !important;
    position: relative !important;
    left: 50px !important;
    top: 50px;
}

form {
	background-image: url(http://www.rosario3.com/__export/1427977249456/sites/rosario3/img/noticias/2015/04/02/educacixntxcnica2.jpg_1572130063.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

input[type="button"],
button{
	border-radius: 50%;
	border-style: none;
	width: 19%;
	height: 21%;
	margin: 2%;
	color: white;
	font-weight: 800;
	font-size: 15px;
}
button:focus,
input:focus{
	outline: none;
}
.flex{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.flex-content{
	vertical-align: middle;
	width: 280px;
}
.head{
	height: 80px;
	border-top-left-radius: 44px;
	border-top-right-radius: 44px;
	position: relative;
	left: 300px;
	top: 100px;

}
.content{
	height: 300px;
	padding: 9% 7% 40% 7%;
	border-bottom-left-radius: 44px;
	border-bottom-right-radius: 44px;
	text-align: center;
	position: relative;
	left: 300px;
	top: 100px;
}
.screen-case{
	height: 42px;
	background-color: darkgray;
	padding: 3%;
	border-radius: 5px;
	margin-bottom: 5%;
}
.screen{
	border-style: none;
	width: 100%;
	height: 40px;
	font-weight: 800;
	font-size: 30px;
	text-align: right;
	color: white;
}
hr{
	background: white;
	height: 2px;
	border-style: none;
}
html, body, section{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "khula", sans-serif;
}
h1{
	width: 400px;
	text-align: center;
	position: relative;
	top: 200px;
	left: 750px;
}
input:hover{
	color: yellow;
	background-color: #6AF080;
}
